
@item-color: #9a9a9a;
@item-color-hover: #eee;
@item-color-active: #ccc;

.actionbar {
  position: fixed;
  height: 56px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #222;

  &.dark {
    background-color: #262626;
  }

  .items-left {
    float: left;
    .item:first-of-type {
      padding-left: 20px;
    }
  }

  .items-right {
    float: right;
    margin-right: 12px;
  }

  .item {

    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    
    background: transparent;
    border: none;
    color: @item-color;
    outline: none !important;
    
    font-family: inherit;
    font-size: 14pt;
    
    &:disabled {
      cursor: default;
      color: (@item-color - #333);
    }

    &:hover {
      &:not(:disabled) {
        cursor: pointer;
        color: @item-color-hover;
      }
    }

    &.active {
      color: @item-color-active;
      &:hover {
        cursor: initial;
      }
    }
  }
}