
@right-bg-color: #333;
@left-bg-color: #2a2a2a;

@article-create-bg-color: #2f2f2f;
@article-create-bg-color-alt: #2f2f2f;
@article-create-color: #aaa;
@article-create-color-alt: #ddd;
@sidebar-size: 250px;

.layout-item {
  margin: 8px 8px 0px 8px;
}

#main {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(100vw - @sidebar-size);
  background-color: @right-bg-color;

  .date {
    padding-bottom: 8px;
    .layout-item;

    .row:first-of-type {
      color: #888;
    }
  }

  .create {
    margin: 8px;
    padding: 8px;
    border: 1px solid #444;
  }
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: @sidebar-size;
  background-color: @left-bg-color;
}