
<div id="login">

    <button type="button" class="wndclose" ng-show="isElectron()">
        <span>&times;</span>
    </button>

    <div class="wrapper">

        <form ng-submit="login.login(username, password)">

            <input type="text" placeholder="Username" ng-model="username" />
            <input type="password" placeholder="Password" ng-model="password" />
            
            <center>
                <button type="submit" class="login">
                    Login
                </button>
            </center>

            <center class="mt-5">
                <small>If you don't have an account yet, click below to create one.</small> 
                <br>
                <br>
                <button type="button" class="signup">
                    Signup
                </button>
            </center>

        </form>

    </div>

</div>